<!DOCTYPE html>
<html>
	<head>
		<title>Test chat</title>
		<!-- <link rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/css/bootstrap.css"/>
		<link rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/js/bootstrap.js"/>
		<link rel='stylesheet' href='/css/app.css'> -->
		<script src="/socket.io/socket.io.js"></script>
		<script src="moment.min.js"></script>
		<script src="chat_client.js"></script>
	</head>
	<body>
		<div id="chatContainer"></div>

		<script type="text/javascript">
			window.onload = function () {
				var chatClient = new ChatClient({
					Container: document.getElementById("chatContainer")
				});
				chatClient.start();
			};
		</script>
	</body>
</html>